body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;

  background-color: #eeeeee;
}

.site-navigation,
.cart-block,
.slider-buttons,
.slider {
  list-style: none;
}

.logo-svg:hover {
  opacity: 0.8;
}

.logo-svg:active {
  opacity: 0.3;
}

.site-navigation a,
.cart-block a {
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.cart-block a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.cart-block a:active {
  color: #a6a6a6;
}

.current  {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  top: 31px;
  left: 0px;
  width: 75px;
  border-top: 2px solid  #fb565a;

 }

.services ul,
.description ul,
.partners ul,
.footer-social ul {
  list-style: none;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.features-name {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.catalog-main-header {
  font-size: 55px;
  line-height: 55px;
  color: #000000;

  background-color: #eeeeee;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
}

.legend-coast-regulator {
  letter-spacing: 0.01;
}
.filters label {
  line-height: 20px;
}

.fieldset-coast-regulator input,
.fieldset-coast-regulator label {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-align: center;
  text-transform: uppercase;

  border: none;
}

.fieldset-coast-regulator input {
  background-color: #eeeeee;
}


.fieldset-option-regulator input:hover + label,
.fieldset-addition-regulator input:hover + label {
  color: #000000;
}

.fieldset-option-regulator input:disabled + label,
.fieldset-addition-regulator input:disabled + label {
  color: #c2c5c6;
  background-image: url("");
}


.sort b {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort-nav-button-text{
  font-size: 14px;
  line-height: 18px;
  color: #b2b2b2;
  text-transform: uppercase;
}

.sort-nav-button-text:hover {
  color: #666666;
}

.sort-nav-button-text-active {
  color: #000000;
}

.templates {
  list-style: none;
}

.template-item-description b {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;

  text-align: center;
}

.template-item-description p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;

  text-align: center;
}

button {
  text-decoration: none;
}

.button {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
}

.services-button-red {
  background-color: #fb565a;
  border: 3px solid #fb565a;
}

.services-button-red:hover {
  background-color: #e74246;
  border: 3px solid #e74246;
}

.services-button-red:active {
  color: #e37376;

  background-color: #d7373b;
  border: 3px solid #c13135;
}

.services-button-green {
  background-color: #00ca74;
  border: 3px solid #00ca74;
}

.services-button-green:hover {
  background-color: #00bc6c;
  border: 3px solid #00bc6c;
}

.services-button-green:active {
  color: #4dc491;

  background-color: #00aa62;
  border: 3px solid #009958;
}

.services-button-yellow {
  background-color: #efc84a;
  border: 3px solid #efc84a;
}

.services-button-yellow:hover {
  background-color: #eab534;
  border: 3px solid #eab534;
}

.services-button-yellow:active {
  color: #edc265;

  background-color: #e5a722;
  border: 3px solid #ce961f;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  text-align: center;

  background-color: #eeeeee;
  border: none;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 2px solid #bfbfbf;
}

button:focus {
  border: none;
}

.filter-button:focus {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 2px solid #bfbfbf;
}



.services-item b {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.description b {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.description h4 {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.working-conditions caption {
  color: #000000;
  text-transform: uppercase;
}

.working-conditions td b {
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.working-conditions td {
  font-size: 16px;
  line-height: 18px;
}

sup {
  font-size: 26px;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  width: 44px;
  height: 33px;
  padding-top: 11px;
  margin-top: 27px;
  text-align: center;

  border: 3px solid #eeeeee;
  background-color: #eeeeee;
}

.pagination-item-next {
  width: 259px;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.pagination-item:hover {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination-item:active {
  color: #959595;
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}
.pagination-item-current {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.footer-contacts-header {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
}

.footer-friends b {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-friends p {
  font-size: 16px;
  line-height: 22px;
}

.contact-us b {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.contact-us-item {
  font-size: 16px;
  line-height: 18px;
}

.contact-us-item b {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}




/*styles for normal condition for modal window CONTACT US*/
.contact-us-item input::-webkit-input-placeholder {
    color: #a1a1a1;
}
.contact-us-item input[placeholder] {
  color: #a1a1a1;
}
.contact-us-item textarea::-webkit-input-placeholder {
    color: #a1a1a1;
}
.contact-us-item textarea[placeholder] {
  color: #a1a1a1;
}

.contact-us-item input {
  border: 2px solid #d7dcde;
}

/*styles for :hover condition for modal window CONTACT US*/

.contact-us-item input[placeholder]:hover {
  color: #a1a1a1;
}
.contact-us-item textarea[placeholder]:hover {
  color: #a1a1a1;
}

.contact-us-item input:hover {
  border: 2px solid #b4b9bb;
}

.contact-us-item textarea:hover {
  border: 2px solid #b4b9bb;
}


/*styles for :focus condition for modal window CONTACT US*/
.contact-us-item input[placeholder]:focus {
  color: #444444;
}
.contact-us-item textarea[placeholder]:focus {
  color: #444444;
}
.contact-us-item input:focus {
  border: 2px solid #000000;
}
.contact-us-item textarea:focus {
  border: 2px solid #000000;
}


/*styles for invalid value for modal window CONTACT US*/
.contact-us-input-invalid::-webkit-input-placeholder {
    color: #e74246 !important;
}

.contact-us-input-invalid[placeholder] {
  color: #e74246 !important;
}

.contact-us-input-invalid {
  color: #e74246 ;
  border: 2px solid #e74246 !important;
}

.visually-hidden {
    position:absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*=====================styles for grid==================================*/

.wrapper {
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*=============================================================================*/
.main-header {
  padding-top: 50px;
  background-color: #eeeeee;
}

.main-header-logo svg {
  display: block;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  background-color:  red;
  background-color: #eeeeee;
  justify-content: space-between;
}

.main-header-logo{
  width: 160px;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

.site-navigation {
  width: 440px;
  margin: 0;

  padding: 0px 60px;
  padding-top: 22px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #eeeeee;
}

.cart-block {
  width: 100px;
  margin: 0;
  padding-left: 60px;
  padding-right: 0px;
  padding-top: 22px;

  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #eeeeee;
}

.cart-block li {
margin-left: 25px;
}

.cart-block::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 45px;
  width: 15px;
  height: 15px;
  background-size: 15px auto;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
 }

/*=============================================================================*/
.features {
  background-color: #eeeeee;
}

.slider{
    position:relative;
    width: 1160px;
    height:428px;
    margin:0 auto;
    background-color: #eeeeee;
}

.slider input[type=radio] {
    position:absolute;
    opacity:0;
}

.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:22px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls label{
    display:inline-block;
    width:11px;
    height:11px;
    margin:0 3px;
    background:white;
    border:5px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
      box-shadow: inset 2px 2px 2px 1px #c1c1c1;
}

.slide {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.slide-text {
    width:380px;
    padding:75px 0;
    color:#283136;
}

.slide-title {
    font-size:55px;
    line-height:55px;
    font-weight:bold;
    color:black;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.slide-text p {
  font-size:16px;
  line-height:24px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.slide-text-2 {
    width:560px;
    padding:75px 0;
    color:#283136;
}

.slide-title-2 {
    font-size:55px;
    line-height:55px;
    font-weight:bold;
    color:black;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.slide-text-2 p{
  font-size:16px;
  line-height:24px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.slide-text-3 {
    width:430px;
    padding:75px 0;
    color:#283136;
}

.slide-title-3 {
    font-size:55px;
    line-height:55px;
    font-weight:bold;
    color:black;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.slide-text-3 p{
  font-size:16px;
  line-height:24px;
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
}

.slide .btn{
    display:block;
    width:234px;
    padding:13px 0;
    margin-top:25px;
    font-size:16px;
    line-height:18px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    background:#fb565a;
    border-radius:3px;
    border: 3px solid #fb565a;
}

.slide .btn:hover {
  background-color: #e74246;
  border: 3px solid #e74246;
}

.slide .btn:active {
  color: #e37376;
  border-top: 3px solid #c13135;
  background-color: #d7373b;
  border-bottom: 3px solid #d7373b;
  border-left: 3px solid #d7373b;
  border-right: 3px solid #d7373b;
}

.slide:nth-child(1){
    background-image:url('../img/slider-1.png');
    background-repeat:no-repeat;
    background-position:430px 15px;
}

.slide:nth-child(2){
    background-image:url('../img/slider-2.png');
    background-repeat:no-repeat;
    background-position:500px 0px;
}

.slide:nth-child(3){
    background-image:url('../img/slider-3.png');
    background-repeat:no-repeat;
    background-position:400px 15px;
}

.slide{
    display:none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

/*=============================================================================*/

.services-items {
  width: 1100px;
  margin: 80px 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.services-item img {
  display: block;
}

.services-item b {
  display: block;
  margin-top: 24px;
  margin-bottom: 15px;
}

.services-item p {
  width: 260px;
  margin-bottom: 27px;
  margin-top: 0px;
}

.services-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 154px;
  padding: 13px 0px;
  border-radius:3px;
}

/*=============================================================================*/

.description-fl b {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.description-fl h4 {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}

.working-conditions caption {
  color: #000000;
  text-transform: uppercase;
}

.working-conditions td b {
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.working-conditions td {
  font-size: 16px;
  line-height: 18px;
}

sup {
  font-size: 26px;
}

.description-conditions {
  padding-top:40px ;
	padding-left:0;
  padding-right:0;
  padding-bottom:75px;
}

.description-fl {
 position:relative;
 width: 660px;
}

li{
	list-style:none;
}

.description-fl b {
  display: block;
  margin-bottom: 22px;
  padding-top: 34px;
}

.description-fl p {
  margin-bottom: 47px;
  padding: 0px;
}

.description-fl h4 {
  margin: 0px;
  padding: 0px;
}

.description-fl ul {
  margin: 0px;
  padding: 0px;
}

.description-fl ul li {
  margin-top: 24px;
  margin-bottom: 0px;
  padding: 0px;
  padding-left: 37px;
  position: relative;
}

.description-fl ul li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 1px;
  width: 25px;
  border-top: : 2px solid #fb565a;
  border-bottom: 2px solid #fb565a;
 }

 .description-fl b {
     font-size: 45px;
     line-height: 45px;
     color: #000000;
 }

.working-conditions img {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom: 33px;
}

caption {
  margin: 0px;
  padding: 0px;
}

.working-conditions {
  width: 360px;
  margin: 0px;
  padding: 0px;
}

.working-conditions figcaption {
  margin: 0px;
  padding: 0px;
}

.working-conditions figcaption table caption b {
  display: block;
  margin-bottom: 39px;
}

.working-conditions figcaption table td {
  padding-top: 20px;
}

.container-descr-fl{
	position:relative;
	width:1200px;
	margin:0 auto;
	display:flex;
  justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
}

.container-descr-fl:before{
	content:'';
	position:absolute;
	top: -40px;
    left: 20px;
	width:1160px;
	height:2px;
	background-color:grey;
}

.container-descr-fl:after{
	content:'';
	position:absolute;
	bottom: -75px;
    left: 20px;
	width:1160px;
	height:2px;
	background-color:grey;
}

.description-fl-second {
 position:relative;
}

.container-descr-fl-second{
	position:relative;
	width:1200px;
	margin:0 auto;
	display:flex;
	padding: 0 20px;
	box-sizing: border-box;
}

.container-descr-fl-second:after{
	content:'';
	position:absolute;
	bottom: -45px;
    left: 20px;
	width:1160px;
	height:2px;
	background-color:grey;
}

/*=============================================================================*/

.partners {
  margin-top: 45px;
  margin-bottom: 45px;
  padding: 0;
}

.partners-items {
  margin: 0px;
  padding: 0 30px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*=============================================================================*/

.map {
  height: 416px;
  margin-top: 125px;
  margin-bottom: 67px;
  position: relative;
  background:url('../img/map-background.jpg') no-repeat center;
  background-size:cover;
}

.map-background {
  position:relative;
   width: 1200px;
   margin: 0 auto;
}

.map-picture{
	max-width:100%;
	height:auto;
	display:block;
}

.footer-contacts {
  width: 219px;
  height: 258px;
  position: absolute;
  top: 55px;
  left: 20px;
  background-color: #ffffff;
  padding-top: 45px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer-contacts-header {
  padding: 0px;
  margin-top: 0px;
  display: block;
  margin-bottom: 20px;
}

.footer-contacts p {
  margin-bottom: 10px;
}

.footer-contacts-button {
  display: block;
  margin-top: 36px;
  width: 219px;
  padding: 16px 0px;
  border-radius: 3%;
}

/*=============================================================================*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 68px;
}

.footer-social {
  width: 260px;
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: yellow;*/
}

.footer-social li {
  margin: 0px;
  padding: 0px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
  border: 1px solid #e74246;
}

.social-button:active {
  background-color: #d7373b;
  border: 1px solid #d7373b;
}

.social-button-svg:active {
  fill: #e37376;
}



.footer-friends {
  width: 760px;
  padding: 0px 20px;
  /*background-color: pink;*/
}

.footer-friends b {
  display: block;
  padding-top: 4px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*background-color: blue;*/
}

.footer-friends p {
  padding: 10px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  /*background-color: red;*/
}

/*=============================================================================*/

.catalog-main-header {
  margin: 0px;
  text-align: center;
  padding-top: 76px;
  padding-bottom: 106px;
  background-color: #eeeeee;
  /*background-color: skyblue;*/
}

/*=============================================================================*/

.filters-templates {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  /*background-color: yellow;*/
}

/*=============================================================================*/

fieldset {
  margin: 0;
  padding: 0;
}

.filters {
  width: 260px;
  margin: 0;
  padding: 0;
  margin-right: 140px;
  /*background-color: pink;*/
}



.legend-coast-regulator {
  padding: 0px;
  margin: 0px;
  margin-bottom: 46px;
}

.fieldset-coast-regulator {
  margin-bottom: 30px;
}

.fieldset-option-regulator {
  margin-bottom: 30px;
}

.fieldset-option-regulator ul {
  margin: 0px;
  padding: 0px;
}

.fieldset-addition-regulator {
  margin-bottom: 28px;
}

.fieldset-addition-regulator ul {
  margin: 0px;
  padding: 0px;
}

.fieldset-option-regulator legend {
  margin-bottom: 5px;
}

.fieldset-option-regulator legend ul {
  margin: 0px;
}

.filter-option {
  margin-bottom: 5px;
  width: 224px;
  height: 26px;
  position: relative;
  padding-left: 30px;
}

.filter-option label {
  vertical-align: sub;
}



input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
}

input[type="radio"] + label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 26px;
    width: 26px;
    margin: 0px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
}

input[type="radio"]:hover + label::before {
  opacity: 1;
}

input[type="checkbox"]:hover + label::before {
  opacity: 1;
}

input[type="radio"]:disabled + label::before {
  opacity: 0.2;
}

input[type="checkbox"]:disabled + label::before {
  opacity: 0.2;
}


input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 26px;
    width: 26px;
    margin: 0px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
}

input[type="checkbox"]:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
    opacity: 0.5;
}

input[type="checkbox"]:checked:hover + label::before {
    background-image: url(../img/checkbox-on.svg);
    opacity:1;
}

input[type="radio"]:checked + label::before {
  background-image: url(../img/radio-on.svg);
  opacity: 0.5;
}

input[type="radio"]:checked:hover + label::before {
  background-image: url(../img/radio-on.svg);
  opacity: 1;
}

#filter-grid-stretchy + label::before {
  background-image: url();
}

.fieldset-addition-regulator legend {
  margin-bottom: 21px;
}

.fieldset-addition-regulator legend ul {
  margin: 0px;
}

.filter-addition {
  margin-bottom: 10px;
  width: 224px;
  height: 26px;
  position: relative;
  padding-left: 30px;
}
.filter-addition label {
  vertical-align: sub;
}

.filter-button {
  margin: 0px;
  padding: 16px 0px;
  width: 260px;
  border-radius: 3px;

}

/*=============================================================================*/

.sort {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 53px;
  /*background-color: blue;*/
}

.sort-options {
  width: 360px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: red;*/

}

.sort-nav-button-coast {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.sort-nav-button-cheap {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.sort-nav-button-cheap-svg,
.sort-nav-button-expensive-svg {
  fill: #ededed;
}

.sort-nav-button-cheap-svg:hover,
.sort-nav-button-expensive-svg:hover {
  fill: #a6a6a6;
}

.sort-nav-button-cheap-svg:active,
.sort-nav-button-expensive-svg:active {
  fill: #231f20;
}

/*=============================================================================*/

.template-item {
  margin-bottom: 32px;
  position: relative;
  width: 360px;
  height: 617px;
}

.template-item-description {
  visibility: hidden;
}

.template-item:hover .template-item-description {
  visibility: visible;
  width: 240px;
  background-color: #eeeeee;
  padding: 28px 60px 40px;
  text-align: center;
  position: absolute;
  top: 378px;
  left: 0px;
}

.template-item-description b {
  display: block;
  padding-bottom: 26px;
}

.template-item-description p {
  margin: 0px;
  padding: 0px;
}

.template-item-description-button {
  display: block;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 16px 0px;
  border-radius: 3px;
}

.templates {
  width: 760px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*background-color: #a9ceff;*/
}

.templates svg {
  display: block;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item img:active {
  opacity: 0.1;
}

.template-item-svg {
  opacity: 0.12;
}

.template-item:hover .template-item-svg {
  opacity:1;
}

/*=============================================================================*/

.pagination-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  /*background-color: pink;*/
}

.pagination-item {
  margin-right: 10px;
}

/*=============================================================================*/

.range-filter {
  width: 240px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  /*width: 50%;*/

}

.max-price {
  text-align: right;
  padding-left: 23px;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 2px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}


/*============================================================================*/

.main-footer{
/*position: relative;*/
}

.contact-us {
  position: fixed;
  top: 120px;
  left: 50%;
  width: 760px;
  margin-left: -380px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 74px;
  padding-bottom: 86px;
  background-color: #ffffff;
}

.contact-us-button {
  margin: 0px;
  padding: 16px 0px;
  width: 260px;
  border-radius: 3px;
}
